body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    margin-top: 25px;
    margin-left: 400px;
    margin-right: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

h2{
    text-align:center;
}

.searchInput{
    margin: 25px;
}

.contactSumarryOutput{
    text-align: center;
}

.inputSection {
    border-radius: 25px;
    background-color: aqua;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2 ;
 }

#noResult{
    display: none;
}


