body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.output{
    border: 1px solid;
    padding-left: 25px;
    margin-left: 25px;
    margin-right: 50px;
    font-size:larger;
    font-weight: bold;
}

.output-section{
    margin-left: 150px;
    display:none;
    border: 2px solid;
    margin-right: 1050px;
}
.divclass{
    border: 1px solid;
    font-size: 33px;
}

img{
    border: 2px solid;
    border-radius: 15px;
    transform: translateX(120px);
    margin-top: 10px;
}

.titleUser{
    font-weight: bold;
    transform: translateY(10px);
    margin-left: 10%;
    font-size: x-large;
}

.titleUserRepos{
    font-weight: bold;
    transform: translateY(65px);
    margin-left: 1050px;
    font-size: x-large;
}

.ul-line-row{
    list-style: none;
    outline: 2px solid #000;
    font-size: 18.5px;
}

ul{
    width: 750px;
    height:677px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    float:right;
    margin-right: 150px;
    margin-top: -2px;
}


.line-row {
    list-style: none;
    font-size: 0;
    height: 22px;
    margin-top: 2px;
}

button{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-left: 100px;
}

input{
    margin-left: 145px;
    margin-top: 25px;
    width: 1270px;
    height: 50px;
    font-size: 20px;

}